
<p>
  <strong>Rig Status:</strong>
  <%= @rig.rig_status %>
</p>

<p>
  <strong>Rig Type Num:</strong>
  <%= @rig.rig_type_number %>
</p>

<%= link_to 'Edit', edit_rig_path(@rig) %> |
<%= link_to 'Back', rigs_path %>
